<h1>Ironhack Cinema</h1>

{{#each movies }}
  <div>
      <img src="{{ this.image }}" alt="movie-poster">
      <h3>Title: {{ this.title }}</h3>
      <a href="{{ this.id }}">See more</a>
  </div>
{{/each}}