<h1>Ironhack Cinema</h1>

{{#each movies }}
  <div>
      <img src="{{ this.image }}" alt="movie-poster">
      <h3>Title: {{ this.title }}</h3>
      <form action="/movies/{{ this.id }}" method="GET">
        <button type="submit">See more</button>
      </form>
  </div>
{{/each}}